@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-Bold.ttf) format('truetype'),
  	   url(Montserrat-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-Black';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-Black.ttf) format('truetype'),
  	   url(Montserrat-Black.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-BlackItalic';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-BlackItalic.ttf) format('truetype'),
  	   url(Montserrat-BlackItalic.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-BoldItalic.ttf) format('truetype'),
  	   url(Montserrat-BoldItalic.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-ExtraBold.ttf) format('truetype'),
  	   url(Montserrat-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-ExtraBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-ExtraBoldItalic.ttf) format('truetype'),
  	   url(Montserrat-ExtraBoldItalic.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-ExtraLight.ttf) format('truetype'),
  	   url(Montserrat-ExtraLight.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-ExtraLightItalic';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-ExtraLightItalic.ttf) format('truetype'),
  	   url(Montserrat-ExtraLightItalic.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-Italic';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-Italic.ttf) format('truetype'),
  	   url(Montserrat-Italic.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-Light.ttf) format('truetype'),
  	   url(Montserrat-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-LightItalic.ttf) format('truetype'),
  	   url(Montserrat-LightItalic.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-Medium.ttf) format('truetype'),
  	   url(Montserrat-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-MediumItalic.ttf) format('truetype'),
  	   url(Montserrat-MediumItalic.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-Regular.ttf) format('truetype'),
  	   url(Montserrat-Regular.otf) format("opentype");
}


@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-SemiBold.ttf) format('truetype'),
  	   url(Montserrat-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-SemiBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-SemiBoldItalic.ttf) format('truetype'),
  	   url(Montserrat-SemiBoldItalic.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-Thin';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-Thin.ttf) format('truetype'),
  	   url(Montserrat-Thin.otf) format("opentype");
}

@font-face {
  font-family: 'Montserrat-ThinItalic';
  font-style: normal;
  font-weight: normal;
  src: url(Montserrat-ThinItalic.ttf) format('truetype'),
  	   url(Montserrat-ThinItalic.otf) format("opentype");
}

/* 
@font-face {
  font-family: "Font-Awesome";
  font-style: normal;
  font-weight: normal; 
  src: url(fontawesome-webfont.eot),
       url(fontawesome-webfont.woff) format("woff"),
       url(FontAwesome.otf) format("opentype"),
       url(fontawesome-webfont.ttf) format("truetype"); 
}
*/